* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
}
div {
  background-size: 100% 100%;
}
.left {
  background: #DAE5EC;
  width: 32.19vw;
  height: 100vh;
}
.left .diyihang {
  display: flex;
  align-items: center;
  margin-top: 2.97vh;
}
.left .diyihang .logo {
  width: 55px;
  height: 65px;
  margin-left: 3.7vw;
  background-image: url("../../favicon1.png");
  background-size: 100% 100%;
}
.left .diyihang .title {
  font-size: 38px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #060606;
  margin-left: 0.99vw;
}
.left .img {
  width: 344px;
  height: 249px;
  background-image: url("../../img/login/zuo.png");
  background-size: 100% 100%;
  margin: 37.5vh auto 0;
}
.right {
  width: 67.81vw;
  height: 100vh;
}
.right .login_kuang {
  width: 451px;
  height: 399px;
  background: #FFFFFF;
  box-shadow: 0px 7px 9px 1px rgba(0, 0, 0, 0.1);
  margin: 33.52vh auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right .login_kuang .title {
  font-size: 31px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #060606;
  margin-top: 4.91vh;
}
.right .login_kuang .account {
  margin-top: 6.3vh;
  width: 100%;
  display: flex;
}
.right .login_kuang .account .icon {
  width: 21px;
  height: 23px;
  margin-left: 100px;
  background-image: url("../../img/login/user.png");
}
.right .login_kuang .account .in {
  width: 210px;
  border: 0;
  border-bottom: 2px solid #929292;
  margin-left: 14px;
  outline: none;
  padding-left: 13px;
  display: flex;
  align-items: center;
}
.right .login_kuang .password {
  width: 100%;
  margin-top: 3.52vh;
  display: flex;
}
.right .login_kuang .password .icon {
  width: 21px;
  height: 23px;
  margin-left: 100px;
  background-image: url("../../img/login/password.png");
}
.right .login_kuang .password .in {
  width: 210px;
  border: 0;
  border-bottom: 2px solid #929292;
  margin-left: 14px;
  outline: none;
  padding-left: 13px;
  display: flex;
  align-items: center;
}
.right .login_kuang .disihang {
  width: 250px;
  font-size: 15px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #929292;
  display: flex;
  justify-content: space-around;
  margin-top: 5.55vh;
}
.right .login_kuang .disihang .right_r {
  display: flex;
  align-items: center;
}
.right .login_kuang .disihang .right_r .text {
  margin-left: 12px;
}
.right .login_kuang .btn {
  width: 270px;
  height: 40px;
  background: #24C6FE;
  box-shadow: 0px 8px 14px 0px rgba(13, 75, 150, 0.33);
  border-radius: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #F5EFFF;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  touch-action: manipulation;
}
.right .login_kuang .btn:active {
  background: #1BA8E0;
  transform: scale(0.98);
}
.right .msg {
  font-size: 10px;
  color: red;
}
/*# sourceMappingURL=login.css.map */