* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.beijing{
  width: 100%;
  height: 100%;
}

.title{
  width: 100%;
  height: 10.87vh;

  display: flex;
  align-items: center;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(238, 238, 238, 0.6));

  .text{
    font-size: 1.48vw;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #333333;

  }

  .zuobianju{
    margin-left: 2.73vw;
  }

  .hui{
    color:#999999
  }
}

.blueBtn{
  width: 7.19vw;
  height: 4.18vh;
  background: linear-gradient(170deg, #11C0EF, #097ADB);
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.99vw;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #FFFFFF;
}

.titleOne{
  margin-left: 2.79vw;
  margin-top: 2.17vh;
}

.about{
  width: 100%;
  height: auto;

  margin-top: 4.56vh;

  display: flex;
  align-items: center;

  .biaoti{
    width: 8.68vw;
    height: 4.62vh;
    background: #F7F7F7;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-radius: 4px 0px 0px 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.11vw;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #666666;
  }

  .zuoyi{
    margin-left: 2.79vw;
  }

  .neirongyi{
    width: 11.16vw;
    height: 4.62vh;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0px 4px 4px 0px;

    display: flex;
    align-items: center;

    padding-left: 1.86vw;

    font-size: 1.11vw;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #333333;
  }

  .zuoer{
    margin-left: 11.97vw;
  }

  .neironger{
    width: 17.36vw;
    height: 4.62vh;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0px 4px 4px 0px;

    display: flex;
    align-items: center;

    padding-left: 1.86vw;

    font-size: 1.11vw;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #333333;
  }

  .zuosan{
    margin-left: 9.92vw;
  }

  .neirongsan{
    width: 17.36vw;
    height: 4.62vh;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0px 4px 4px 0px;

    display: flex;
    align-items: center;

    padding-left: 1.86vw;

    font-size: 1.11vw;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #333333;
  }
}

.titleTwo{
  margin-left: 2.79vw;
  margin-top: 7.72vh;
}

.cailiao{
  margin-top: 3.26vh;

  display: flex;

  .kuang{
    display: flex;
    flex-direction: column;

    .titlexia{
      display: flex;
      align-items: center;

      .shuxian{
        width: 3px;
        height: 3.3vh;
        background: #24C6FE;
        border-radius: 2px;

      }

      .text{
        font-size: 1.11vw;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #333333;

        margin-left: 0.75vw;
      }
    }
  }

  .zuoyi{
    margin-left: 2.79vw;
  }

  .zuoer{
    margin-left: 15.7vw;
  }

  .neirong{
    margin-top: 2.28vh;

    display: flex;
    .zhaopian{
      width: 18.61vw;
      height: 18.61vh;
      background: #DCE5EB;
      border-radius: 4px;

      border: 0;
    }

    .zuosan{
      margin-left: 3.35vw;
    }
  }
}

.btns{
  width: 32.25vw;
  height: 6.16vh;

  margin: 8.54vh auto 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .no{
    width: 9.67vw;
    height: 5.94vh;
    background: #E0E0E0;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.11vw;
    font-family: Source Han Sans CN;
    font-weight: 500;
    color: #333333;
  }

  .ok{
    width: 9.67vw;
    height: 5.94vh;
    background: linear-gradient(170deg, #11C0EF, #097ADB);
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.11vw;
    font-family: Source Han Sans CN;
    font-weight: 500;
    color: #FFFFFF;
  }
}