* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: #f8f8f8;
}

.title {
  width: 100%;
  height: 8.33vh;

  background: #FFFFFF;
  box-shadow: 0px 0px 24px 0px rgba(140, 140, 140, 0.15);

  display: flex;
  justify-content: space-between;
  align-items: center;

  .left_t {
    margin-left: 2.08vw;
    display: flex;
    align-items: center;

    .logo {
      width: 38px;
      height: 48px;

      background-image: url("../../img/page/index/logo.png");
    }

    .text {
      font-size: 12px;
      font-family: Sarasa Gothic SC;
      font-weight: bold;
      color: #333333;

      margin-left: 0.73vw;
    }
  }

  .right_t {

    display: flex;
    align-items: center;

    .touxiang {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-size: 100% 100%;

      background-image: url("../../img/page/index/touxiang.png");
    }

    .username {
      font-size: 0.86vw;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #333333;

      margin-left: 0.36vw;
      margin-right: 0.78vw;
    }

    .icon {
      width: 10px;
      height: 5px;
      margin-right: 1.98vw;

      background-image: url("../../img/page/index/jiantou_xia.png");
    }

  }

}

.neirong {
  display: flex;
}

.left {
  width: 12.92vw;
  height: 88.89vh;
  margin-top: 2.78vh;

  background: #FFFFFF;
  border-radius: 8px;

  display: flex;
  flex-direction: column;

  .select {
    width: 100%;
    height: 5.93vh;

    display: flex;
    align-items: center;

    .text {
      font-size: 1.1vw;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #333333;
      margin-left: 0.73vw;

    }

    .icon {
      margin-left: 2.08vw;
    }

    .icon_yezhu {
      width: 20px;
      height: 25px;
      background-image: url("../../img/page/index/yonghu.png");
    }

    .icon_chewei {
      width: 21px;
      height: 26px;
      background-image: url("../../img/page/index/chewei.png");
    }

    .icon_anzhuang {
      width: 21px;
      height: 25px;
      background-image: url("../../img/page/index/anzhuangrenyuan.png");
    }

    .icon_shouyi {
      width: 22px;
      height: 22px;
      background-image: url("../../img/page/index/shouyi.png");
    }

    .icon_mima {
      width: 20px;
      height: 20px;
      background-image: url("../../img/page/index/mima.png");
    }

    .icon_chesuo {
      width: 20px;
      height: 24px;
      background-image: url("../../img/page/index/shebei.png");
    }

    .icon_xiaoxi {
      width: 20px;
      height: 22px;
      background-image: url("../../img/page/index/xiaoxi.png");
    }

    .icon_charging {
      width: 20px;
      height: 22px;
      background-image: url("../../img/page/index/charging.png");
    }

  }

  .select_c {
    width: 100%;
    height: 5.93vh;

    background: rgba(36, 198, 254, 0.1);

    display: flex;
    align-items: center;

    .shuxian {
      width: 6px;
      height: 5.93vh;
      background: #24C6FE;
      border-radius: 3px;
    }

    .text {
      font-size: 12px;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #24C6FE;
      margin-left: 0.73vw;

    }

    .icon {
      margin-left: 1.82vw;
    }

    .icon_yezhu {
      width: 20px;
      height: 25px;
      background-image: url("../../img/page/index/yonghu_c.png");
    }

    .icon_chewei {
      width: 21px;
      height: 26px;
      background-image: url("../../img/page/index/chewei_c.png");
    }

    .icon_wangguan {
      width: 21px;
      height: 26px;
      background-image: url("../../img/page/index/wangguanguanli.png");
    }

    .icon_anzhuang {
      width: 21px;
      height: 25px;
      background-image: url("../../img/page/index/anzhuangrenyuan_c.png");
    }

    .icon_shouyi {
      width: 22px;
      height: 22px;
      background-image: url("../../img/page/index/shouyi_c.png");
    }

    .icon_mima {
      width: 20px;
      height: 20px;
      background-image: url("../../img/page/index/mima_c.png");
    }

    .icon_chesuo {
      width: 20px;
      height: 24px;
      background-image: url("../../img/page/index/shebei_c.png");
    }

    .icon_xiaoxi {
      width: 20px;
      height: 22px;
      background-image: url("../../img/page/index/xiaoxi_c.png");
    }

    .icon_charging {
      width: 20px;
      height: 22px;
      background-image: url("../../img/page/index/charging_c.png");
    }


  }

  .jiantou_xia {
    width: 10px;
    height: 5px;

    background-image: url("../../img/page/index/jiantou_xia.png");
    margin-left: 1.15vw;

  }

  .jiantou_zuo {
    width: 5px;
    height: 10px;

    background-image: url("../../img/page/index/jiantou_zuo.png");
    margin-left: 1.15vw;
  }

  .chicked {
    background: rgba(36, 198, 254, 0.1);
    color: #24C6FE;
  }

  .chesuo_zk {
    width: 100%;
    height: 5.93vh;
    padding-left: 3.96vw;
    display: flex;
    align-items: center;

    font-size: 0.992vw;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #333333;
  }

}

.right {
  width: 83.96vw;
  height: 84.07vh;

  margin-top: 2.78vh;
  margin-left: 1.56vw;

  background: #FFFFFF;
  border-radius: 8px;

  border-width: 0;
}
