*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #f8f8f8;
}

.all{
  width: 100%;
  height: 100%;


  .shang{
    display: flex;

    .left{
      width: 32.5vw;
      height: 27.97vh;

      background: #FFFFFF;
      box-shadow: 0px 6px 9px 1px rgba(164, 164, 164, 0.08);
      border-radius: 8px;

      .title{
        width: 100%;
        height: 6.16vh;
        border-bottom: 1px solid #E9E9E9;

        font-size: 1.11vw;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #999999;

        padding-left: 2.1vw;

        display: flex;
        align-items: center;
      }

      .icon{
        width: 5.45vw;
        height: 5.45vw;

        margin: 0.88vh auto 0;

        background-image: url("../../../img/page/money_show/landaizi.png");

        background-size: 100% 100%;
      }

      .all_money{
        width: 100%;
        height: auto;

        display: flex;
        justify-content: center;

        margin-top: 2.17vh;
        font-size: 2.48vw;
        font-family: OPPOSans;
        font-weight: 800;
        color: #333333;
      }
    }

    .right{
      width: 32.5vw;
      height: 27.97vh;

      background: #FFFFFF;
      box-shadow: 0px 6px 9px 1px rgba(164, 164, 164, 0.08);
      border-radius: 8px;

      margin-left: 1.24vw;

      .title{
        width: 100%;
        height: 6.16vh;
        border-bottom: 1px solid #E9E9E9;

        font-size: 1.11vw;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #999999;

        padding-left: 2.1vw;

        display: flex;
        align-items: center;
      }

      .icon{
        width: 5.45vw;
        height: 5.45vw;

        margin: 0.88vh auto 0;

        background-image: url("../../../img/page/money_show/zidaizi.png");

        background-size: 100% 100%;
      }

      .today_money{
        width: 100%;
        height: auto;

        display: flex;
        justify-content: center;

        margin-top: 2.17vh;
        font-size: 2.48vw;
        font-family: OPPOSans;
        font-weight: 800;
        color: #333333;
      }
    }
  }

  .xia{
    width: 100%;
    height: 68.7vh;

    margin-top: 3.3vh;

    background: #FFFFFF;

    .neirong{
      width: 100%;
      height: 50.09vh;

      .title{
        width: 100%;
        height: 6.38vh;

        font-size: 0.99vw;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #333333;

        display: flex;
        align-items: center;

        background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(238, 238, 238, 0.6));

        .xuhao{
          width: 4.9vw;
        }

        .zitijuzhong{
          display: flex;
          justify-content: center;
        }

        .diqu{
          width: 18.73vw;
        }

        .tingcheshang{
          width: 16.99vw;
        }

        .name{
          width: 11.41vw;
        }

        .placeid{
          width: 12.71vw;
        }

        .lockid{
          width: 12.71vw;
        }

        .rate{
          width: 6.26vw;
        }

        .caozuo{
          width: 12.84vw;
        }
      }

      .place{

        width: 100%;
        height: 6.05vh;

        font-size: 0.868vw;
        font-family: Source Han Sans CN;
        font-weight: 400;

        display: flex;
        align-items: center;
        
        .xuhao{
          width: 4.9vw;
        }

        .zitijuzhong{
          display: flex;
          justify-content: center;
        }

        .diqu{
          width: 18.73vw;
        }

        .tingcheshang{
          width: 16.99vw;
        }

        .name{
          width: 11.41vw;
        }

        .placeid{
          width: 12.71vw;
        }

        .lockid{
          width: 12.71vw;
        }

        .rate{
          width: 6.26vw;
        }

        .caozuo{
          width: 12.84vw;

          .btn{
            width: 80px;
            height: 30px;
            background: rgba(36, 198, 254, 0.05);
            border: 1px solid #24C6FE;
            border-radius: 4px;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 0.868vw;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: #24C6FE;
          }
        }
      }
    }

    .fenye{
      display: flex;
      align-items: center;

      margin-top: 5.84vh;


    }
  }
}