*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search{

  display: flex;
  margin-top: 1.98vh;

  .kuang{
    margin-left: 2.36vw;
    width: 535px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 6px;

    display: flex;
    align-items: center;

    .icon{
      width: 22px;
      height: 22px;

      margin-left: 1vw;

      background-image: url("../../../img/page/yezhu/search_icon.png");
    }

    .shuru{
      width: 480px;
      height: 100%;

      padding: 13px;

      font-size: 16px;
      font-family: Source Han Sans CN;
      font-weight: 400;

      outline:none;
      border: 0;
    }
  }

  .text{
    width: 100px;
    height: 54px;
    background: rgba(36, 198, 254, 0.05);
    border: 1px solid #24C6FE;
    border-radius: 6px;

    margin-left: 1vw;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #24C6FE;
  }
}

.fengexian{
  width: 100%;
  height: 1px;
  background: #E9E9E9;
  border-radius: 8px;

  margin-top: 3.08vh;
}

.shaixuan{
  margin-top: 1.1vh;

  display: flex;
  align-items: center;

  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;

  .delBtn{
    width: 96px;
    height: 36px;
    background: #FF8745;
    border-radius: 4px;

    margin-left: 2.36vw;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #FFFFFF;
  }

  .shaixuan_text{
    margin-left: 2.85vw;
    margin-right: 1.48vw;
  }

  .xuanxiang{
    margin-left: 0.86vw;
    margin-right: 3.84vw;
  }
}

.data{
  width: 100%;
  height: 66.96vh;

  margin-top: 1.1vh;

  .title{
    font-size: 0.992vw;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #333333;

    width: 100%;
    height: 6.38vh;

    display: flex;
    align-items: center;

    border-top: 1px  #E9E9E9 solid;
    border-bottom: 1px  #E9E9E9 solid;

    border-radius: 8px;

    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(238, 238, 238, 0.6));

    .chickBox{
      width: 6.33vw;

      display: flex;
      justify-content: center;

      .box{
        width: 1.6vw;
        height: 1.6vw;
      }

    }

    .zitijuzhong{
      display: flex;
      justify-content: center;
    }

    .index{
      width: 5.64vw;
    }

    .owner{
      width: 13.95vw;
    }

    .phone{
      width: 9.42vw;
    }

    .placeid{
      width: 17.3vw;
    }

    .jingweidu{
      width: 15.01vw;
    }

    .address{
      width: 20.21vw;
    }

    .caozuo{
      width: 11.47vw;
    }
  }
  .neirong:hover{
    background: rgba(36, 198, 254, 0.2);
  }

  .neirong{
    width: 100%;
    height: 6.05vh;

    font-size: 0.868vw;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #666666;


    display: flex;
    align-items: center;

    .chickBox{
      width: 6.33vw;

      display: flex;
      justify-content: center;

      .box{
        width: 1.6vw;
        height: 1.6vw;
      }

    }

    .zitijuzhong{
      display: flex;
      justify-content: center;
    }

    .index{
      width: 5.64vw;
    }

    .owner{
      width: 13.95vw;
    }

    .phone{
      width: 9.42vw;
    }

    .placeid{
      width: 17.3vw;
    }

    .jingweidu{
      width: 15.01vw;
    }

    .address{
      width: 20.21vw;
    }

    .caozuo{
      width: 11.47vw;

      .btn{
        width: 80px;
        height: 30px;
        background: rgba(36, 198, 254, 0.05);
        border: 1px solid #24C6FE;
        border-radius: 4px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 0.868vw;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #24C6FE;
      }
    }

  }

}

.fenye{
  display: flex;
  align-items: center;

  margin-top: 3.84vh;
}

